@import url('./reset.css');

main{
    display: flex;
    justify-content: center;
}

#container{
    aspect-ratio: 3 / 4;
    height: 100vh;
    border: solid 1px black;
    position: relative;
    overflow: hidden;
}

#rabbit{
    aspect-ratio: 1 / 1;
    height: 5%;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.bell{
    aspect-ratio: 1 / 1;
    height: 2.5%;
    border: solid black 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

#test{
    bottom: 50.26%;
    left: 76%;
}

#floor{
    height: 2.5%;
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 10;
}