@import url('./reset.css');

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, -25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translate(-50%, 0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

*{
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    justify-content: center;
}

#container{
    aspect-ratio: 3 / 4;
    height: 100vh;
    border: solid 1px black;
    position: relative;
    overflow: hidden;
}

#title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#title h1{
    font-size: 3.5rem;
}

#title h2{
    font-size: 2rem;
}

#score{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 1rem;
}

#rabbit{
    aspect-ratio: 1 / 1;
    height: 5%;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.bell{
    aspect-ratio: 1 / 1;
    height: 2.5%;
    border: solid black 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    animation: bounce 1s infinite ease-out;
    background-color: white;
}

#test{
    bottom: 50.26%;
    left: 76%;
}

#floor{
    height: 2.5%;
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 10;
}